body {
    background-color: black;
    text-align: center;
}

#mood {
    font-style: normal;
    font-weight:normal;
    font-size:48px;
}

#babble{
    color: whitesmoke;
}

#interface{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: orange; 
}

#title {
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}


#image {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}